<div class="container" data-ng-controller="addBandMemberCtrl as bctrl">
    <div class="card">
        <div class="card-header">
            <h2>{{bctrl.edit ? "Edit" : "Add"}} a Band Member</h2>
        </div>
        <div class="card-body card-padding">
            <div class="form-group" data-group="name">
                <label class="form-label control-label" for="email">Name</label>
                <div class="fg-line">
                    <input type="text" class="form-control input-lg" placeholder="John Doe" ng-model="bctrl.name" ng-readonly="!mactrl.hasPermission('manage-band-users')">
                </div>
            </div>
            <div class="form-group" data-group="email">
                <label class="form-label control-label" for="email">Email Address</label>
                <div class="fg-line">
                    <input type="text" class="form-control input-lg" placeholder="person@example.com" ng-model="bctrl.email" ng-readonly="!mactrl.hasPermission('manage-band-users')">
                </div>
            </div>
            <div class="form-group row">
                <button class="btn btn-primary" ng-click="bctrl.editMember()">{{bctrl.edit ? "Edit" : "Add"}} Member</button>
            </div>
        </div>
    </div>
</div>
