<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Dashboard</h2>

            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Band Admin</h2>
                </div>
            </div>
            
            <div class="mini-charts">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="mini-charts-item bgm-bluegray">
                            <div class="clearfix">
                                <div class="count">
                                    <h2>Howdy</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
