<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img ng-show="profile.logged_in" src="{{profile.avatar}}" alt="">
            </div>

            <div class="profile-info" ng-show="profile.logged_in">
                <div>{{profile.name}}</div>

                <i class="zmdi"></i>
            </div>
        </a>
    </div>

    <ul class="main-menu">
        
        <li data-ui-sref-active="active" ng-show="profile.logged_in">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Home</a>
        </li>
        <li data-ui-sref-active="active" ng-hide="profile.logged_in">
            <a data-ui-sref="login" href="#" onclick="window.open('/auth/facebook','auth','width=500,height=450');return false;"><i class="zmdi zmdi-sign-in"></i> Login</a>
        </li>
        <li data-ui-sref-active="active" ng-show="profile.logged_in">
            <a data-ui-sref="login" href="#" onclick="window.open('/auth/logout','auth','width=500,height=450');return false;"><i class="zmdi zmdi-flip"></i> Logout</a>
        </li>
        <li data-ui-sref-active="active" ng-show="profile.logged_in">
            <a data-ui-sref="band.details" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-ruler"></i> Band Details</a>
        </li>
        <li data-ui-sref-active="active" ng-show="profile.logged_in">
            <a data-ui-sref="schedule" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-calendar-note"></i> Schedule</a>
        </li>
    </ul>
</div>
